.alert-task{
    text-align: center;
    margin-top: 10px;
    background-color: var(--main-color);
    padding: 16px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-task p { 
    margin: 0;
    font-family: var(--primary-font);
    color: var(--main-color2);
    margin-right: 10px;
    font-size: 16px;
}

.alert-task button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    color: var(--main-color3);

    transition: .8s ease;
}

.alert-task button:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: var(--main-color2);
}

