:root{

    --main-color: #FCF8E8;
    --main-color2: #748DA6;
    --main-color3: #ECB390;

    --primary-font: 'Nunito', sans-serif;
    --secondary-font: 'Roboto', sans-serif;

}
 /*General*/
*{box-sizing: border-box;};

h1,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

ul, li { 
    list-style: none;
    margin: 0;
    padding: 0;
}

.date{
    font-family: var(--primary-font);
    font-size: 12px;
    color: var(--main-color3);
    text-align: center;
    margin: 8px 0;
}


