.TodoItem {
    background-color: var(--main-color);
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
}

.TodoItem-p {
    width: calc(100% - 120px);
    color: var(--main-color2);
    font-size: 14px;
    font-weight: 700;
    font-family: var(--secondary-font);
}
.TodoItem-p--complete {
    text-decoration: line-through;
    color: var(--main-color3);
}

.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    font-size: 22px;
    color: var(--main-color3);
    /* background-color: #CCC; */
}

.Icon-check--active {
    color: var(--main-color2);
}

.Icon-delete:hover {
    color: var(--main-color2)
}

.time{
    color: var(--main-color2);
    font-family: var(--secondary-font);
    font-size: 10px;
    margin: 0;
    margin-left: 10px
}